.git
.gitignore
**node_modules
**/node_modules
**/dist
**/.next
**/data
**/*.db
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
inventory-wms/
ui-review/
kaana/
/kaana_*.html
.firebase/
